<div class="container">

  <div class="text-center profil">
    <p>Gastnummer:{{gastEdit.item.id}}</p>
    <p>Vorname:{{gastEdit.item.vorname}} </p>
    <p>Nachname:{{gastEdit.item.nachname}} </p>
    <p>Alter:{{gastEdit.item.alter}} </p>
  </div>

  <form name="myForm" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : myForm.VorName.$invalid && !myForm.VorName.$pristine }">
      <input type="text" class="form-control eingabe" name="VorName" ng-model="gastEdit.item.vorname" placeholder="Vorname" required/>
      <p ng-show="myForm.VorName.$invalid && !myForm.VorName.$pristine" class="help-block">Füllen Sie bitte das Feld aus!</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : myForm.Name.$invalid && !myForm.Name.$pristine }">
      <input type="text" class="form-control eingabe" name="Name" ng-model="gastEdit.item.nachname" placeholder="Nachname" required/>
      <p ng-show="myForm.Name.$invalid && !myForm.Name.$pristine" class="help-block">Füllen Sie bitte das Feld aus!</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : myForm.alter.$invalid && !myForm.alter.$pristine }">
      <input type="number" class="form-control eingabe" name="alter" ng-model="gastEdit.item.alter" placeholder="Ihr Alter:" />
      <p ng-show="myForm.alter.$invalid && !myForm.alter.$pristine" class="help-block">Geben Sie einen gültigen Wert ein!</p>
    </div>

    <div id="knoepfe">
      <button class="btn btn-primary" ng-click="gastEdit.edit(gastEdit.item.id)" type="submit" ng-disabled="myForm.$invalid">Gast bearbeiten</button>
    </div>
  </form>

</div>